img{
    width: clamp(10%, 100%, 20%);
    border-radius: 50%;
}

.background-green{
    background-color: rgb(64, 186, 64);
}

.background-red{
    background-color: red;
}

.mouse-event{
    background-color: rgb(189, 251, 189);
    width: 300px;
    height: 300px;
}